# Phase 16 macro placement: 64 OpenRAM 2 KiB macros (683.1 x 416.54 um).
# ROM bank rows 0-3, RAM bank rows 4-7, 8x8 grid.
# <instance> <x_um> <y_um> <orientation>

soc.rom.bank.g_macro[0].macro 50.0 50.0 N
soc.rom.bank.g_macro[1].macro 763.1 50.0 N
soc.rom.bank.g_macro[2].macro 1476.2 50.0 N
soc.rom.bank.g_macro[3].macro 2189.3 50.0 N
soc.rom.bank.g_macro[4].macro 2902.4 50.0 N
soc.rom.bank.g_macro[5].macro 3615.5 50.0 N
soc.rom.bank.g_macro[6].macro 4328.6 50.0 N
soc.rom.bank.g_macro[7].macro 5041.7 50.0 N
soc.rom.bank.g_macro[8].macro 50.0 496.5 N
soc.rom.bank.g_macro[9].macro 763.1 496.5 N
soc.rom.bank.g_macro[10].macro 1476.2 496.5 N
soc.rom.bank.g_macro[11].macro 2189.3 496.5 N
soc.rom.bank.g_macro[12].macro 2902.4 496.5 N
soc.rom.bank.g_macro[13].macro 3615.5 496.5 N
soc.rom.bank.g_macro[14].macro 4328.6 496.5 N
soc.rom.bank.g_macro[15].macro 5041.7 496.5 N
soc.rom.bank.g_macro[16].macro 50.0 943.1 N
soc.rom.bank.g_macro[17].macro 763.1 943.1 N
soc.rom.bank.g_macro[18].macro 1476.2 943.1 N
soc.rom.bank.g_macro[19].macro 2189.3 943.1 N
soc.rom.bank.g_macro[20].macro 2902.4 943.1 N
soc.rom.bank.g_macro[21].macro 3615.5 943.1 N
soc.rom.bank.g_macro[22].macro 4328.6 943.1 N
soc.rom.bank.g_macro[23].macro 5041.7 943.1 N
soc.rom.bank.g_macro[24].macro 50.0 1389.6 N
soc.rom.bank.g_macro[25].macro 763.1 1389.6 N
soc.rom.bank.g_macro[26].macro 1476.2 1389.6 N
soc.rom.bank.g_macro[27].macro 2189.3 1389.6 N
soc.rom.bank.g_macro[28].macro 2902.4 1389.6 N
soc.rom.bank.g_macro[29].macro 3615.5 1389.6 N
soc.rom.bank.g_macro[30].macro 4328.6 1389.6 N
soc.rom.bank.g_macro[31].macro 5041.7 1389.6 N
soc.ram.bank.g_macro[0].macro 50.0 1836.2 N
soc.ram.bank.g_macro[1].macro 763.1 1836.2 N
soc.ram.bank.g_macro[2].macro 1476.2 1836.2 N
soc.ram.bank.g_macro[3].macro 2189.3 1836.2 N
soc.ram.bank.g_macro[4].macro 2902.4 1836.2 N
soc.ram.bank.g_macro[5].macro 3615.5 1836.2 N
soc.ram.bank.g_macro[6].macro 4328.6 1836.2 N
soc.ram.bank.g_macro[7].macro 5041.7 1836.2 N
soc.ram.bank.g_macro[8].macro 50.0 2282.7 N
soc.ram.bank.g_macro[9].macro 763.1 2282.7 N
soc.ram.bank.g_macro[10].macro 1476.2 2282.7 N
soc.ram.bank.g_macro[11].macro 2189.3 2282.7 N
soc.ram.bank.g_macro[12].macro 2902.4 2282.7 N
soc.ram.bank.g_macro[13].macro 3615.5 2282.7 N
soc.ram.bank.g_macro[14].macro 4328.6 2282.7 N
soc.ram.bank.g_macro[15].macro 5041.7 2282.7 N
soc.ram.bank.g_macro[16].macro 50.0 2729.2 N
soc.ram.bank.g_macro[17].macro 763.1 2729.2 N
soc.ram.bank.g_macro[18].macro 1476.2 2729.2 N
soc.ram.bank.g_macro[19].macro 2189.3 2729.2 N
soc.ram.bank.g_macro[20].macro 2902.4 2729.2 N
soc.ram.bank.g_macro[21].macro 3615.5 2729.2 N
soc.ram.bank.g_macro[22].macro 4328.6 2729.2 N
soc.ram.bank.g_macro[23].macro 5041.7 2729.2 N
soc.ram.bank.g_macro[24].macro 50.0 3175.8 N
soc.ram.bank.g_macro[25].macro 763.1 3175.8 N
soc.ram.bank.g_macro[26].macro 1476.2 3175.8 N
soc.ram.bank.g_macro[27].macro 2189.3 3175.8 N
soc.ram.bank.g_macro[28].macro 2902.4 3175.8 N
soc.ram.bank.g_macro[29].macro 3615.5 3175.8 N
soc.ram.bank.g_macro[30].macro 4328.6 3175.8 N
soc.ram.bank.g_macro[31].macro 5041.7 3175.8 N
